accelerate
datasets
safetensors
bitsandbytes
scipy
tqdm
packaging
pytest
numpy
pyyaml
psutil
setuptools
rich
scikit-learn
torch==2.6.0
umap
typing_extensions==4.12.2
pandas
packaging
matplotlib
matplotlib-inline
transformers>=4.46.0
trl
peft
detoxify
wandb
bitsandbytes
sentencepiece